//custom variables
$primary: #AEC6CF ;
$secondary: #A0E7E5;
$success:       $green;
$info:          ;
$warning: ;
$danger: ;
$light: ;
$dark:          $gray-900 !default;
//import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';