//custom variables
$primary: #AEC6CF ;
$secondary: #A0E7E5;
$success: ;
$info: ;
$warning: ;
$danger: ;
$light: ;
$light: #E3E4FA;
$dark:  ;
//import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';