//custom variables
$primary: #AEC6CF ;
$secondary: #A0E7E5;
$success:       $green;
$info:          ;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;
//import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';